.cardSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;

    .cardList {
        position: relative;
        width: 100%;

        .cardScrollOverflow {
            overflow-x: auto;
            scrollbar-width: none;

            .cardScrollList {
                --grid-rows: 1;
                --grid-column-gap: 12px;
                --module-padding: 32px;
                grid-auto-columns: calc((100% - 4* var(--grid-column-gap) - var(--module-padding)) / 5);
                list-style: none;
                grid-column-gap: 32px;
                grid-row-gap: 32px;
                grid-template-rows: repeat(var(--grid-rows), max-content);
                display: grid;
                grid-auto-flow: column;

                .cardScrollItem {
                    position: relative;
                }
            }
        }
    }
}