.featList {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    position: relative;
    flex: 1;
    gap: 16px;

    .line {
        width: 100%;
        flex: 1;
        object-fit: cover;
        position: relative;
    }
}