* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-background-white-primary);
}

a {
    text-decoration: none;
    color: var(--light-white);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

span {
    cursor: pointer;
}